@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

.container {
    background: #CEC6C6;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .img {
        width: 100%
    }

    img {
        width: 100%;
        justify-self: center;
        align-self: center;
    }

    .discription {
        align-self: center;
        text-align: center;

        h2 {
            font-family: 'Roboto', sans-serif;
            margin: 10px;
            font-weight: bolder;
            font-size: 3em;
            letter-spacing: 0.1em;
            margin-bottom: 4rem;
            text-transform: uppercase;
        }

        p {
            font-size: 1.3em;
            letter-spacing: 1.7px;

        }

    }


    .link {
        justify-self: end;
        margin: 20px 0;
    }

    #link {
        box-shadow: 3px 4px 0px 0px #899599;
        background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
        background-color: #ededed;
        border-radius: 15px;
        border: 1px solid #d6bcd6;
        display: inline-block;
        cursor: pointer;
        color: #3a8a9e;
        font-family: Arial;
        font-size: 17px;
        padding: 7px 25px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #e1e2ed;

        &:hover {
            background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);

            background-color: #bab1ba;
        }

        &:active {
            position: relative;
            top: 1px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .container {
        display: block;
    }

    .link {
        text-align: center;
        margin: 0px !important;
        padding: 20px 0px !important;
    }

    img {
        display: block;
        margin: 0 auto;
        width: 50%;
    }

    h2 {

        font-weight: bold;
        font-size: 1.5em;
        letter-spacing: 0.1em;
        line-height: 50px;
        margin-bottom: 1rem !important;
    }

    p {
        font-size: 1em;
        letter-spacing: 1.5px
    }

}