* {
    padding: 0px;
    margin: 0px;
}

body,
html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #5e5e5e;
}

.pimg1,
.pimg2,
.pimg3 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #cec6c6;
    color: rgb(83, 80, 80);
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

@media screen and (max-width: 768px) {

    .section {
        text-align: start;
        padding: 30px 50px;
    }

}