*{
    padding: 0px;
    margin: 0px;
}
body,
html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.pimg1, .pimg2, .pimg3{
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  }
.ptext {
    width:100%;
    text-align: center;
    color: #ffffff;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    line-height: 50px;
}
.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #cec6c6;
    color: rgb(83, 80, 80);
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}
.ptext .border{
    background-color:#111;
    color:#fff;
    padding:20px;
    font-size: xx-large;
  }
  
  .ptext .border.trans{
    background-color:transparent;
  }
  

@media screen and (max-width: 768px) {
    .ptext {
        text-align: center;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 6px;
    }
    .section {
        text-align: start;
        padding: 30px 50px;
    }
.section-light {
    background-color: #cec6c6;
    color: rgb(83, 80, 80);
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

}
